{{> header}}

{{> topMenu }}
<div class="form">
    <form id="createItem">
        <input type="text">
        <button>Create</button>
        <p class="error"></p>
        <p id="createSuccess"></p>
    </form>
</div>

<script src="../static/js/create.js"></script>
{{> footer }}