{{> header}}

{{> topMenu }}
<div class="container itemOne">
    <div>
        <p>{{{name}}}</p>
        <button id="remove">Remove Item</button>
        <form id="change">
            <input type="text">
            <button>Cheng</button>
            <p class="error"></p>
        </form>
    </div>
</div>

<script src="../static/js/itemAction.js"></script>
{{> footer }}