{{> header}}

{{> topMenu }}
<div class="form">
    <form id="loginUser">
        <input type="text">
        <input type="text">
        <button>Login</button>
        <p class="error"></p>

    </form>
</div>

<script src="../static/js/signIn.js"></script>
{{> footer }}
