{{> header}}

{{> topMenu }}
<div class="form">
    <form id="SingUpUser">
        <input type="text">
        <input type="text">
        <button>SingUp</button>
        <p class="error"></p>
    </form>
</div>

<script src="../static/js/singUp.js"></script>
{{> footer }}